/* start about styles */ 

#about_page {
    background-image: url(images/bg_about_page.jpg);
    margin-bottom: 0;
    // .page_width {
    //     padding-top: 100px;
    //     padding-bottom: 159px;
    // }

    h1 {
        float: left;
        margin-top: -30px;
    }

    .all_link {
        margin-top: 5px;
    }

    .slogan {
        width: 610px;
        left: 10px;
        margin: -72px auto 45px;
        text-align: center;
        padding: 22px 20px 22px 0;
        position: relative;
        box-sizing: border-box;

        &::before, &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 179px;
            height: 83px;
            border-bottom: 2px solid;
            border-right: 2px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(161.57deg, #CCA04A 11.76%, #FFE2AE 100%);
        }
        &::before {
            top: 0;
            left: 0;
            transform: rotate(-180deg);
        }

        .logo {
            margin-bottom: 13px;

            img {
                width: 250px;
            }
        }
        p {
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 500;
        }
    }

    .text_block {
        display: flex;
        align-items: center;
        position: relative;
        padding: 30px 0 30px;
        background: #212121 url(images/bg_about_text.png) no-repeat center / auto 100%;
        //opacity: 0.5;
        margin-bottom: 140px;

        .image {
            width: 50%;
            text-align: center;
            margin: -150px 0;

            img {
                max-width: 90%;
                height: 100%;
                object-fit: cover;
                max-height: 400px;
            }
        }

        .text {
            width: 45%;
            padding-left: 33px;
            //margin-bottom: 10px;
        }

        h2 {
            margin-bottom: 20px;
        }

        .button {
            margin-top: 20px;
        }
    }
}


@media screen and (max-width: 1600px) {
    
}
@media screen and (max-width: 1400px) {
    
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 1100px) {
    
}

@media screen and (max-width: 800px) {
    
}
@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 450px) {
    
}

/* end about styles */