/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

$font_family_os: "Gilroy", Arial, Helvetica, sans-serif;
//$font_family_alt: 'Roboto', Arial, Helvetica, sans-serif;
//$font_family_h: 'Houschka Rounded',  Arial, Helvetica, sans-serif;

$color_text: #212121;
//$color_text_alt: #7089A4;
//$color_h: #134983;
$color_a: #BF7C17;
//$color_a_hover: #235E9C;
//$color_bg: #EEF5F9;
$max-width: 1530px;

@mixin clear() {
    content: "";
    display: block;
    clear: both;
}

@mixin transition($property) {
    -webkit-transition: $property 0.3s ease 0s;
    -moz-transition: $property 0.3s ease 0s;
    -o-transition: $property 0.3s ease 0s;
    transition: $property 0.3s ease 0s;
}

@mixin transition_slow($property) {
    -webkit-transition: $property 0.6s ease 0s;
    -moz-transition: $property 0.6s ease 0s;
    -o-transition: $property 0.6s ease 0s;
    transition: $property 0.6s ease 0s;
}

body {   
    font-family: $font_family_os;
    font-size: 16px;
	line-height: 24px;
	min-width: 320px;
    font-weight: 400; //200;
    color: $color_text;
    //letter-spacing: 0px;
}

.wrapper {
    //overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 100%;
    
	//background:  url(images/site.jpg) no-repeat center top;
	//background-size: 1920px auto;
}

// #page404 {
//     .wrapper {
// 		display: table;
//     }
// }

.main_section {
    overflow: hidden;
    position: relative;
    width: 100%;
    
}
.page_width {
    padding: 0px 90px;
    margin: 0 auto;
    max-width: $max-width;
    position: relative;
    //@include transition_slow(all);
    
    &:after {
		@include clear();
    }
}

@media screen and (max-width: 1400px) {
    .page_width {
		padding: 0px 50px;
	}
}
@media screen and (max-width: 1200px) {
    .page_width {
		padding: 0px 30px;
	}
}
@media screen and (max-width: 800px) {
    .page_width {
		padding: 0px 20px;
	}
	.wrapper {
		overflow: hidden;
    }
    .main_section h2 {
        margin-bottom: 20px;
    }
}
// @media screen and (max-width: 700px) {
//     .main_section {
// 		text-align: center;
// 	}
// }
// @media screen and (max-width: 450px) {
//     .page_width {
// 		padding: 0px 10px;
//     }
// }

a {
    text-decoration: none;
    color: $color_a;
	//@include transition(color);
	&:hover {
		text-decoration: underline;
	}
}

strong, b {
    font-weight: 700;
}

p {
	margin-bottom: 10px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 700;
    margin-bottom: 20px;
	position: relative;
    //letter-spacing: 0.01em;
    //color: $color_h;
}

h1, .h1 {
    font-size: 50px;
	line-height: 60px;
    //margin-bottom: 40px;
    //letter-spacing: 0.03em;
}
h2, .h2 {
    font-size: 35px;
    line-height: 42px;
    //letter-spacing: 0.03em;
}
h3, .h3 {
    font-size: 24px;
    line-height: 29px;
}
h4, .h4, h5, .h5 {
    font-size: 18px;
    line-height: 22px;
}
h6, .h6 {
	font-size: 16px;
	line-height: 20px;
}

@media screen and (max-width: 1300px) {
    h1, .h1 {
        font-size: 45px;
        line-height: 55px;
        //margin-bottom: 40px;
        //letter-spacing: 0.03em;
    }
    h2, .h2 {
        font-size: 30px;
        line-height: 37px;
        //letter-spacing: 0.03em;
    }
    h3, .h3 {
        font-size: 22px;
        line-height: 27px;
    }
}

@media screen and (max-width: 1030px) {
    body {   
		font-size: 14px;
		line-height: 24px;
    }
    h1, .h1 {
        font-size: 40px;
        line-height: 48px;
    }
    h2, .h2 {
        font-size: 27px;
        line-height: 33px;
    }
    h3, .h3 {
        font-size: 20px;
        line-height: 24px;
    }
    h4, .h4, h5, .h5 {
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 600px) {
    h1, .h1 {
        font-size: 35px;
        line-height: 42px;
    }
    h2, .h2 {
        font-size: 24px;
        line-height: 29px;
    }
    h3, .h3 {
        font-size: 18px;
        line-height: 22px;
    }
}

.clear {
    clear: both;
}

.mob {
    display: none;
}

.center {
	text-align: center;
}

.button {
    padding: 0px 30px;
    height: 43px;
    min-width: 162px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    text-align: center;
    text-decoration: none !important;
    //text-transform: uppercase;
    //font-family: $font_family_alt;
    font-size: 16px;
    line-height: 41px;
    font-weight: 500;
    //letter-spacing: 0px;
    cursor: pointer;
    overflow: hidden;
    color: $color_text;
	//background: $color_a;
    //border-radius: 5px;
    //border: 1px solid transparent;
    background: linear-gradient(180.02deg, #FFE2AE 0.01%, #BF7C17 99.99%);
    @include transition(all);

    // &::after {
    //     content: "";
    //     display: inline-block;
    //     margin-left: 20px;
    //     font-size: 21px;
    //     width: 20px;
    //     height: 11px;
    //     background: url(images/arrow_white.svg) no-repeat right center;
    // }

    &.nobg {
        color: #fff;
        background: none;
        border: 1px solid;
        border-image-slice: 1;
        border-width: 1px;
        height: 41px;
        line-height: 39px;
        border-image-source: linear-gradient(180.02deg, #FFE2AE 0%, #BF7C17 100%);

        &:hover {
            color: $color_text;
            background: linear-gradient(180.02deg, #FFECB8 0.01%, #C98621 99.99%);
        }
    }
    
    &:hover {
        text-decoration: none;
        background: linear-gradient(180.02deg, #FFECB8 0.01%, #C98621 99.99%);
    }
} 

.buttons {
	//text-align: center;
	//padding-bottom: 30px;

	.button {
        margin-right: 30px;
        margin-bottom: 20px;

        &:last-child{
            margin-right: 0;
        }
	}
}

.main_section {
    .buttons {
        text-align: center;
    }
}

.all_link, .more {
	//float: right;
    //margin-top: -50px;
    line-height: 18px;
    //letter-spacing: 0.03em;
    position: relative;
    z-index: 1;
    font-weight: 500;
    color: $color_text;
    &::after {
        content: "";
        display: inline-block;
        margin-left: 10px;
        font-size: 21px;
        width: 40px;
        height: 10px;
        position: relative;
        @include transition(all);
        background: url(images/arrow.svg) no-repeat right center;
    }

    // &:hover {
    //     //text-decoration: none;
    //     &::after {
    //         left: 2px;
    //     }
    // }
}
.all_link {
    margin-top: -50px;
    float: right;
}

@media screen and (max-width: 1030px) {
    .buttons {
        padding-bottom: 10px;
    
        .button {
            margin-right: 15px;
            margin-bottom: 15px;
        }
    }
	.all_link {
        margin-top: -40px;
    }
}
@media screen and (max-width: 600px) {
	.all_link::after, .more::after {
        width: 20px;
    }

    // .all_link {
    //     margin-top: 0px;
    //     float: none;
    //     margin-bottom: 20px;
    //     display: inline-block;
    // }
}


.slick-slider {
    position: relative;
    margin: 0 -32px;
    padding: 0 35px;
    
    .slick-list {
		margin: 0 -15px;
    }
}
.slick-arrow {
    position: absolute;
    top: 50%;
    bottom: 0;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    z-index: 1;
    outline: none;
	cursor: pointer;
	overflow: hidden;
	//opacity: 0.7;
	border: 1px solid $color_text;
	border-radius: 50%;
	box-sizing: border-box;
    @include transition(all);
    
    &:before {
        content: '';
        position: absolute;
        z-index: 2;
        width: 14px;
        height: 14px;
        top: 16px;
		//left: 0px;
		border-top: 2px solid $color_text;
		border-left: 2px solid $color_text;
		box-sizing: border-box;
        //@include transition(all);
	}
	// &:before {
	// 	background: url(images/arrow.png) no-repeat center;
	// 	opacity: 1;
	// }
	// &::after {
	// 	background: url(images/arrow_hover.png) no-repeat center;
	// 	opacity: 0;
    // }
    
    &:hover {
		background-color: $color_text;
		&:before {
			border-color: #fff;
		}
    }
    // &.slick-disabled {
    //     border-color: #E1E1E1;
    //     cursor: default;
    // }
}
.slick-prev {
    left: 0;
    margin-left: -48px;
	&::before {
		left: 20px;
		transform: rotate(-45deg);
	}
}
.slick-next {
    right: 0;
     margin-right: -48px;
    &:before {
		right: 20px;
		transform: rotate(135deg);
    }
}

ul.slick-dots {
    position: absolute;
    bottom: 35px;
    width: 100%;
    z-index: 2; 
    //counter-reset: slick-dots;
    //border-top: 1px dotted #000;
    //margin-top: 69px;
    //padding-top: 52px;
    text-align: center;
    
    li {
		display: inline-block;
		position: relative;
		width: 10px;
		height: 10px;
		border-radius: 5px;
		border: 1px solid #fff;
		background-color: transparent;
		cursor: pointer;
        //float: none;
        margin: 0 5px 10px;
        //font-family: $font_family_h;
		font-size: 14px;
        font-weight: 500;
		line-height: 35px;
		//letter-spacing: 1.3px;
		color: $color_text;
		//opacity: 0;
        text-align: center;
        box-sizing: border-box;
        @include transition(all);
        
		// &:before {
		// 	counter-increment: slick-dots;
		// 	content: "0"counter(slick-dots);
		// 	overflow: hidden;
		// 	display: inline-block;
		// }

		&:hover, &.slick-active {
			background-color: #fff;
		}
		
		button {
			display: none;
		}
	}
}


@media screen and (max-width: 1400px) {
	.slick-slider {
		margin: 0 -5px;
        //padding: 0 45px;
	}

    .slick-prev {
        margin-left: -28px;
    }
    .slick-next {
         margin-right: -28px;
    }
}

@media screen and (max-width: 1200px) {
	.slick-slider {
		margin: 0 10px;
		//padding: 0 30px;
	}
}

@media screen and (max-width: 1030px) {
	.slick-slider {
		margin: 0 0px;
		padding: 0 70px;
	}

    .slick-prev {
        margin-left: 0px;
    }
    .slick-next {
         margin-right: 0px;
    }
}

@media screen and (max-width: 600px) {
    .slick-slider {
		padding: 0 40px;
	}
	.slick-arrow {
        //border-color: #fff;
        width: 30px;
        height: 30px;
        &::before {
            //border-color: #fff;
            width: 8px;
            height: 8px;
            top: 9px;
        }

        // &:hover {
        //     background-color: #fff;

        //     &::before {
        //         border-color: $color_text;
        //     }
        // }
    }

    .slick-prev {
        margin-left: 0px;
        &::before {
            left: 10px;
        }
    }

    .slick-next {
        margin-right: 0px;
        &::before {
            right: 10px;
        }
    }
    
    ul.slick-dots li {
        width: 6px;
        height: 6px;
        margin: 0 5px 10px;
    }
}

@media screen and (max-width: 400px) {
    .slick-slider {
		margin: 0 -10px;
	}
}

.text {
    // h2 {
    //     margin-bottom: 25px;
    // }
    ul {
        //counter-reset: ol_ounter;
		margin-bottom: 25px;
		padding-top: 4px;
        margin-left: -5px;
        
		li {
			//margin-bottom: 10px;
            position: relative;
			padding: 0px 0 0px 13px;
			margin-bottom: 10px;
			margin-left: 4px;
			overflow: hidden;
            
            p{
                position: relative;
                z-index: 1;
                margin-bottom: 0;
            }
			&::before{
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                top: 0px;
                left: 0px;
                background: repeating-linear-gradient(-45deg, #FFF500, #FFF500 1px, transparent 1px, transparent 3px);
            }
        }
	}
	
	ol {
        counter-reset: ol_ounter;
		list-style-type: none;
		//margin: 0 0 0 20px;
        //padding: 0 0 35px;

		li {
			//margin-bottom: 10px;
			padding: 0px 0 0px 40px;
			margin-bottom: 20px;
			margin-left: 4px;
            position: relative;
			
			&:before {
                counter-increment: ol_ounter;
                content: counter(ol_ounter);
				font-weight: 600;
                font-size: 40px;
                //color: $color_h;
                line-height: 100%;

                position: absolute;
                left: 0;
			}
		}
    }
}

// @media screen and (max-width:1030px){
//     .text {
//         .button {
//             margin-top: 30px;
//         }
//     }
// }
@media screen and (max-width:600px){
    .text {
        font-size: 14px;
        line-height: 20px;
        // .button {
        //     margin-top: 10px;
        // }
    }
}
// @media screen and (max-width:450px){
//     .text {
//         .button {
//             margin-top: 0px;
//         }
//     }
// }

.tabs_container {
	position: relative;
	//margin-bottom: 70px;
    &:hover {
        z-index: 3;
    }
}
    
.tab {
    height: 0;
    overflow: hidden;
    opacity: 0;
    @include transition(opacity);
}
.tab.active {
    opacity: 1;
    height: auto;
    overflow: visible;
    //padding-top: 8px;
	position: relative;
	z-index: 2;
}

.tab_buttons {
    position: relative;
    z-index: 2;
    //height: 55px;
	margin: 0 auto 25px;
	//padding-top: 10px;
    text-align: left;
    //border: 2px solid #134983;
    display: flex;
    //justify-content: space-between;
	
    span, a {
		cursor: pointer;
		z-index: 2;
		white-space: nowrap;
        padding: 10px 30px 10px;
        margin-right: 10px;
		//font-size: 14px;
        line-height: 19px;
        font-weight: 500;
		vertical-align: middle;
        display: inline-block;
        box-sizing: border-box;
		//border-radius: 10px;
		//border-bottom: 2px solid transparent;
        @include transition(all);
        
        &:last-child {
            margin-right: 0;
        }
	
		&.active {
			background-color: $color_text;
			color: #fff;
			
		}
    } 
}


.pagination{
    text-align: center;
    margin-bottom: 60px;
    ul{
        li{
            display: inline-block;
            font-size: 22px;
            line-height: 25px;
            margin: 0 13px;
            font-size: 18px;
            line-height: 21px;
            font-weight: 600;

            a{
                box-sizing: border-box;
                display: block;
                text-decoration: none;
                color: $color_text;
                width: 40px;
                height: 40px;
                padding-top: 9px; 
                border: 1px solid #212121;
                @include transition(all);

                &.activ, &:hover {
                    color: #fff;
                    background-color: $color_text;
                }
            }
            .next, .prev {
                font-size: 16px;
                line-height: 18px;
                width: auto;
                height: auto;
                padding-top: 0;
                font-weight: 300;
                border: 0;
            }
            .prev {
                margin-right: 30px;
                &::before {
                    content: "";
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    border-top: 2px solid $color_text;
                    border-left: 2px solid $color_text;
                    box-sizing: border-box;
                    margin-bottom: -4px;
                    transform: rotate(-45deg);
                }
            }
            .next {
                margin-left: 30px;
                &::after {
                    content: "";
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    border-top: 2px solid $color_text;
                    border-left: 2px solid $color_text;
                    box-sizing: border-box;
                    margin-bottom: -4px;
                    transform: rotate(135deg);
                }
            }
        }
    }
}

@media screen and (max-width:1030px){
    .tab_buttons {
        span, a {
            padding: 8px 15px 8px;
            margin-right: 0;
        }
    }
    .pagination {
        margin-bottom: 50px;
    }
}
@media screen and (max-width:600px){
    .pagination {
        margin-bottom: 30px;

        ul li {
            margin: 0 5px;
            .prev {
                margin-right: 0px;
            }
            .next {
                margin-left: 0px;
            }
        }
    }
}

// main {
//     .page_width {
//         padding-bottom: 90px;
//     }
// }
// @media screen and (max-width:1030px){
//     main {
//         .page_width {
//             padding-bottom: 50px;
//         }
//     }
// }
// @media screen and (max-width:600px){
//     main {
//         .page_width {
//             padding-bottom: 30px;
//         }
//     }
// }
body.compensate-for-scrollbar, .fancybox-enabled {
    overflow: auto;
}


@-webkit-keyframes preloader {
    0% { width: 115px; }
    50% { width: 115px; }
    100% { width: 385px; }
  }
  
  @keyframes preloader {
    0% { width: 115px; }
    50% { width: 115px; }
    100% { width: 385px; }
  }

#preloader {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    background-color: $color_text;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    text-align: center;
    
    .img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 115px;
	height: 100px;
	margin: auto;
	max-width: 80%;
    overflow: hidden;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0s;  
    animation-delay: 0s; 
    -webkit-animation-name: preloader; 
    animation-name: preloader;
    }
}

