/* start content styles */ 
.content {
    position: relative;
    .text {
        padding-bottom: 90px;
        h2 {
            margin-bottom: 40px;
        }
    }

    .catalog  {
        margin-bottom: 35px;
    }

    .catalog + .buttons {
        margin-bottom: 80px;
        text-align: center;
    }
}
div.content {
    .page_width {
        padding-top: 40px; //100px;
    }
}
.breadcrumbs {
    position: relative;
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 16px;
    padding-top: 91px;
    font-weight: 400;

    ul {

        li {
            display: inline-block;

            &::after {
                content: " /";
            }

            &.active {
                opacity: 0.5;
                ///color: #999;
                &::after {
                    display: none;
                }
            }
        }
    }
    a {
        color: $color_text;
    }
}

.main_top {
    color: #fff;
    //background: #5a6778 no-repeat center / cover;
    margin-bottom: 100px;

    .page_width {
        min-height: 600px;
    }

    h1 {
        max-width: 50%;
    }

    a {
        color: #fff;
    }

    .button {
        color: $color_text;
        margin-top: 50px;
    }
    
    .breadcrumbs {
        color: #fff;
        a {
            color: #fff;
        }
    }

    .text {
        width: 50%;
        box-sizing: border-box;
        font-weight: 500;
        padding-bottom: 0;
    }

    .all_link {
        margin-top: -58px;
        &::after {
            filter: brightness(0.5) contrast(300%) invert(1);
        }
    }
}

.campaigns_block {
    position: absolute;
    background: rgba(33, 33, 33, 0.8);
    left: 58.5%;
    bottom: 0;
    padding: 60px 60px 64px;
    width: 555/1530*100%;
    box-sizing: border-box;
    font-weight: 500;
    color: #fff;

    a {
        color: #fff;
    }

    h3 {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 10px;
    }
    .desc {
        min-height: 144px;
        margin-bottom: 25px;
    }
    .button {
        background:none;
        border: 1px solid #fff;
        padding: 0px 27px;
        margin-top: 0px;
        min-width: auto;
        color: #fff;
        &:hover {
            color: #212121;
            background-color: #fff;
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 60px;
        right: 60px;
        width: 179px;
        height: 83px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(161.57deg, #CCA04A 11.76%, #FFE2AE 100%);
    }
}

.two_col {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    padding-top: 49px;
    padding-bottom: 40px;

    .left_col {
        width: calc(100% - 520px);
        position: relative;

    }

    .right_col {
        width: 490px;
        position: relative;

        .min_forms {
            position: sticky;
            margin-bottom: 30px;
            top: 0px;
        }
    }
}

.gallery_container {
    margin-bottom: 100px;
    clear: both;
    .tab_buttons {
        margin-bottom: 43px;
    }
}

.gallery {
    padding-bottom: 60px;

    .slick-arrow {
        bottom: 0;
        top: auto;
        margin-top: 0;
        width: 30px;
        height: 30px;
        &:before {
            content: "";
            width: 9px;
            height: 9px;
            top: 10px;
        }
    }
    .slick-prev {
        left: 50%;
        margin-left: -39px;

        &::before {
            left: 12px;
        }
    }
    .slick-next {
        right: 50%;
        margin-right: -39px;
        &::before {
            right: 12px;
        }
    }

    .item {
        height: 274px;
        overflow: hidden;
        position: relative;

        margin: 0 15px;
        a {
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &.video {
            a::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: url(images/icon_play.svg) no-repeat center;
            }
        }
    }

    &.gallery_projects {
        padding-top: 20px;
        margin-bottom: 100px;
        .item {
            height: 420px;
        }
    }
}

.top_image {
    position: relative;
    height: 500px;
    margin-top: 40px;
    margin-bottom: 100px;
}
.right_image, .left_image {
    position: relative;
    max-width: 49%;
    margin: 0 0 80px 160px;

    &::before {
        content: '';
        position: absolute;
        top: 11.6%; //9.8%;
        right: 8%;
        width: 99.5%;
        height: 99.4%; //86%;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(116.57deg, #FFE2AE 33.33%, #CCA04A 100%);
    }
    strong {
        display: flex;
        width: 84%;
        height: 80px;
        align-items: center;
        justify-content: center;
    }

    img {
        position: relative;
        z-index: 1;
    }
}
.right_image {
    float: right;

    // &::before {
    //     right: 8%;
    // }
}

.left_image {
    float: left;
    margin: 0 60px 80px 60px;

    // &::before {
    //     left: 8%;
    // }
}

.right_image + p, .left_image + p {
    padding-top: 31px;
}

.bx-404-container {
    //max-width: 500px;
    margin: 10% auto;
    text-align: center;

    .bx-404-block {
        margin-bottom: 30px;

        img {
            max-width: 90%;
        }
    }

    .bx-404-text-block {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .button {
        margin-left: 20px;
        margin-right: 20px;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        margin-bottom: 5px;

        // &::after {
        //     display: none;
        // }
    }
}

@media screen and (max-width: 1600px) {
    
}
@media screen and (max-width: 1400px) {
    
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 1100px) {
    
}

@media screen and (max-width: 800px) {
    
}
@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 450px) {
    
}

/* end content styles */