/* start footer styles */

#pre_foo {
    display: table-row;
    height: 100%;
}
footer {
    width: 100%;
    position: relative;
    z-index: auto;
    box-sizing: border-box;
	clear: both;
	// font-size: 14px;
	// line-height: 20px;
	font-weight: 300;
	//background-color: #212121;
	background: #212121 url(images/bg_advantages.png) no-repeat center / auto 100%;
	color: #fff;
	overflow: hidden;

    .page_width { 
		//z-index: 3;
		padding-top: 100px;
		padding-bottom: 70px;
	}
	
    
    a {
		color: #fff;
	}

	.foo_left {
		width: 230px;
		box-sizing: border-box;
		//padding-right: 20px;
		position: relative;
		float: left;
	}

	.foo_right {
		width: 245px;
		box-sizing: border-box;
		//padding-right: 20px;
		position: relative;
		float: right;
	}

	.foo_menu {
		display: flex;
		//width: 73.4%;
		justify-content: space-around;
		margin: 0 305px 0 270px;

		h5 {
			margin-bottom: 28px;
		}

		ul {
			padding-bottom: 40px;
			margin-top: -2px;
			position: relative;
		}

		li {
			margin-bottom: 20px;
			padding-right: 20px;
		}
	}

	#foo_logo {
		margin-bottom: 22px;
		width: 145px;
		a {
			display: block;
			overflow: hidden;
		}

		img {
			margin: -1px;
			max-width: 100%;
		}
	}

	.foo_text {
		a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}

		p {
			margin-bottom: 20px;
		}
	}

	.h6 {
		color: #fff;
		margin-bottom: 8px;
	}


	.foo_bottom {
		border-top: 1px solid #fff;
		padding-top: 60px;
		display: flex;
		justify-content: space-between;
	}

	.contacts {
		max-width: 310px;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;

		a {
			margin-bottom: 35px;
		}
	}

	#copy {
		max-width: 300px;
		margin-bottom: 20px;
	}
	.social {
		padding-top: 30px;
		* {
			margin: 0 5px 0 0;
		}
		a {
			margin-right: 0px;
		}
	}
}


.cont {
	margin-right: 15px;
	a, p.address {
		display: inline-block;
		position: relative;
		padding-left: 35px;
		min-height: 25px;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 25px;
			height: 25px;
			filter: brightness(0.5) contrast(300%) invert(1);
			background: no-repeat left top;
		}
	}
	a {
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		white-space: nowrap;
		&.btn_call {
			letter-spacing: 0.3px;
			color: $color_a;
			border-bottom: 1px dashed $color_a;
			margin-left: 50px;
			font-weight: 300;
			padding-left: 0;
			&::before {
				display: none;
			}
		}

		&.tel::before {
			background-image: url(images/icon_tel.png);
		}
		&.email::before {
			background-image: url(images/icon_email.svg);
		}
	}
	p {
		&.address::before {
			background-image: url(images/icon_address.svg);
		}
	}
}

// @media screen and (min-width: 1030px) {
    
// }

@media screen and (max-width: 1300px) {
	footer {
		.page_width { 
			padding-top: 70px;
			padding-bottom: 70px;
		}
		.foo_right {
			width: 270px;
		}
	} 
}

@media screen and (max-width: 950px) {
	footer {
		.page_width { 
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
	footer .foo_menu ul:last-child {
		display: none;
	}
	footer .contacts {
		font-size: 18px;
		line-height: 24px;
	}
	footer .foo_left {
		width: 215px;
	}
	footer .foo_right {
		width: 240px;
	}
}
@media screen and (max-width: 800px) {
	footer .foo_menu {
		margin: 0 260px 0 235px;
		li {
			padding-right: 0;
		}
	}
}

@media screen and (max-width: 750px) {
	footer .foo_menu {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	footer {
		.page_width { 
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
	footer .contacts {
		font-size: 16px;
		line-height: 22px;
	}
}
@media screen and (max-width: 550px) {
	footer {
		text-align: center;
		.foo_left {
			margin-bottom: 15px;
			float: none;
			width: auto;
		}
		.foo_right {
			float: none;
			width: auto;
		}
		#foo_logo {
			margin: 0 auto 20px;
		}

		.foo_text p {
			margin-bottom: 15px;
		}

		.contacts {
			max-width: none;

			a {
				margin-bottom: 20px;
			}

			.tel {
				margin-right: 30px;
			}
		}
		#copy {
			max-width: none;
			margin-bottom: 15px;
		}
		.social {
			padding-top: 10px;
		}
	}
}
@media screen and (max-width: 450px) {
	
}



/* end footer styles */