/* start forms styles */ 

#main_form {
	z-index: 2;
	//overflow: visible;
	//display: flex;

	// &:after {
	// 	@include clear();
    // }

	.image {
		position: absolute;
		height: 101%;
		width: 44%;
		max-width: 50%;

		&::after {
			content: '';
			position: absolute;
			top: 68.9%;
    		left: 93.1%;
			width: 119px;
			height: 189px;
			transform: matrix(0, 1, 1, 0, 0, 0);
			border-bottom: 2px solid;
			border-right: 2px solid;
			border-image-slice: 1;
			border-image-source: linear-gradient(161.57deg, #FFE2AE 11.76%, #CCA04A 100%);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

    .page_width {
		padding-top: 100px;
		padding-bottom: 71px;
		margin-left: 44%;
		max-width: $max-width/2;
		//padding-left: 0;
		min-height: 100%;

		
    }
    
    h2 {
		margin-bottom: 35px;
	}
	h2 + p {
		margin-bottom: 35px;
		max-width: 430px;
	}
}


.form_block {
	//min-height: 100%;
	// max-width: 478px;
	// margin: 0 auto;
	//overflow: hidden;
	margin-left: 38px;
    margin-right: -18px;

	form {
		margin: 0 -15px;
		// font-size: 14px;
		// line-height: 17px;
	}

    .input_text {
		width: calc(50% - 30px);
		clear: left;
		float: left;
		margin: 0 15px 32px;
		position: relative;
	}
	.input_text, .textarea {
		label {
			display: block;
			position: absolute;
			z-index: 2;
			top: 18px;
			left: 30px;
			font-size: 18px;
			line-height: 20px;
			font-weight: 300;
			//color: $color_text;
			color: #999999;
			@include transition(all);
		}

		input[type="text"]:focus + label, 
		input[type="text"].filled_field + label, 
		textarea:focus + label, 
		textarea.filled_field + label {
			font-size: 12px;
			line-height: 14px;
			top: 7px;
			//color: #7089A4;
		}
	}
	.textarea {
		margin-left: calc(50% + 15px);
		margin-right: 10px;
		position: relative;
		margin-bottom: 58px;
	}
	


    input[type="text"], textarea {
		padding: 15px 30px 5px 30px;
		height: 57px;
		width: 100%;
		max-width: 100%;
		background: #fff;
		border: 1px solid;
		border-image-slice: 1;
		border-image-source: linear-gradient(116.57deg, #FFE2AE 33.33%, #CCA04A 100%);
		box-sizing: border-box;
		//border-radius: 10px;
		color: $color_text;
		font-family: $font_family_os;
		font-size: 16px;
		line-height: 18px;
		font-weight: 400; //300;
		vertical-align: top;
		position: relative;
		z-index: 1;
		
		&::-webkit-input-placeholder {opacity: 0.5; color: #333333;}
		&::-moz-placeholder          {opacity: 0.5; color: #333;}/* Firefox 19+ */
		&:-moz-placeholder           {opacity: 0.5; color: #333;}/* Firefox 18- */
		&:-ms-input-placeholder      {opacity: 0.5; color: #333;}

		&:active, &:focus {
			//border: 1px solid #134983;
			background-color: #fff;
		}
    }
    textarea {
		height: 237px;
		width: 100%;
		line-height: 22px;
		padding-top: 20px;
		resize: none;
    }
    
    .input_file {
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin-right: 16px;
		//margin-left: 0px;
		margin-bottom: 30px;
		margin-left: 10px;
    }
    
    input[type="file"] {
		position: absolute;
		z-index: 0;
		opacity: 0;
	}
	
	input[type="file"] +label {
		position: relative;
		z-index: 2;
		font-weight: 500;
		height: 40px;
		line-height: 38px;
		margin-bottom: 10px;
		
		&::before {
			content: '+';
			display: inline-block;
			width: 16px;
			height: 16px;
			vertical-align: middle;
			margin-right: 4px;
			font-size: 30px;
			font-weight: 400;
			line-height: 16px;
		}

		&::after {
			display: none;
		}
	}
	
	#file_name {
		color: #134983;
		width: 100%;
		//overflow: hidden;
		margin-right: -1000px;
	}
    
    .input_personal_info {
		position: relative;
		float: left;
	}
	
	.checkbox {
		position: relative;
	}

    input[type="radio"], input[type="checkbox"] {
		width: auto;
		height: auto;
		margin-bottom: 0;
		opacity: 0;
		margin-left: -20px;
		position: absolute;
		margin-right: 0;
    }

    input[type="checkbox"]:not(checked) + label {
		position: relative;
		cursor: pointer;
		//margin: 6px 10px 35px;
		padding-left: 25px;
		display: inline-block;
		text-align: left;
		//font-size: 12px;
		//line-height: 17px;
		clear: both;
		font-weight: 400; //300;
		@include transition(all);
		
		&:before {
			content: '';
			width: 15px;
			height: 15px;
			background: #FFFFFF;
			border: 1px solid #999999;
			box-sizing: border-box;
			border-radius: 2px;
			position: absolute;
			left: 0px;
			top: 3px;
		}
		
		&:after {
			content: '';
			width: 8px;
			height: 3px;
			position: absolute;
			left: 2px;
   			top: 8px;
			@include transition(all);
            opacity: 0;
            border-left: 2px solid;
			border-bottom: 2px solid;
            border-image-slice: 1;
            background: none;
            border-image-source: linear-gradient(161.57deg, #CCA04A 11.76%, #FFE2AE 100%);
            transform: rotate(-45deg);
		}

		&:hover {
			opacity: 0.8;
		}
    }
    input[type="checkbox"]:checked + label {
		// &:before {
		// 	background-color: $color_a;
		// }
		&:after {
			opacity: 1;
		}
	}
	
	a {
		color: $color_text;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
    
    .input_personal_info {
		margin-left: 14px;
		padding-top: 10px;

		input[type=checkbox]:not(checked) + label:before {
			width: 14px;
			height: 14px;
			top: 5px;
		}
    }
    .uformTools {
		float: right;
		//display: inline-block;
		vertical-align: middle;
		margin-top: 0px;
		padding-bottom: 0px;
		margin-right: 10px;
		margin-bottom: 30px;
		.uFormButton {
			float: none;
			padding: 0;
			width: auto;
		}
	}
    
    button[type="submit"], button[type="reset"], .gUniForm .uFormSubmit, .gUniFormSuccessButton, .button {
	    margin-right: 0;
	    //margin-bottom: 20px;
	    padding: 0 30px 0 30px;
	    width: auto; //calc(33.3% - 13px);
	    height: 43px;
	    line-height: 41px;
	    font-family: $font_family_os;
	    font-size: 16px;
		font-weight: 400;
		//letter-spacing: 0.05em;
	    background: linear-gradient(180.02deg, #FFE2AE 0.01%, #BF7C17 99.99%);
	    color: $color_text;
	    cursor: pointer;
	    box-sizing: border-box;
	    @include transition(all);
	    border: 0;
	    //border-radius: 10px;
	    text-align: center;
	    position: relative;
	    vertical-align: middle;
		//text-decoration: none;
		//float: right;
		min-width: auto;
	    
	    // -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	    // -webkit-tap-highlight-color: transparent; 
	
		// &:hover {
		// 	background: $color_a_hover;
		// }
		
		// &:focus {
		// 	background: #72A2FF;
		// }

		&::after {
			display: none
		}
    }
}

@media screen and (max-width: 1600px) {
    #main_form {
		.image {
			width: 45%;

			&::after {
				left: auto;
				right: -30px;
			}
		}
	
		.page_width {
			margin-left: 45%;
			
		}
	}
	.form_block {
		margin-left: 0;
    	margin-right: 0;
	}
}

@media screen and (max-width: 1300px) {
    #main_form {
	
		.image {
			width: 40%;
			&::after {
				right: 0px;
				top: auto;
				bottom: 20px;
			}
		}
	
		.page_width {
			margin-left: 40%;
			padding-top: 60px;
    		padding-bottom: 20px;
	
			&::before, &::after {
				width: 133/1480*1.3*100%;
				top: 70px;
			}
			&::after {
				left: -133/1480*1.3*100%;
			}
		}

		
	}
}
@media screen and (max-width: 1200px) {
    // #main_form {
	// 	.form_block {
	// 		padding: 0 0 0 20px;
	// 	}
	// }
	#small_form {
		.text {
			float: none;
			margin-right: 0px;
		}
		.form_block {
			float: none;
			margin-left: 0;
			form {
				margin: 0;
			}
			.input_text {
				float: left;
				margin-right: 10px;
				width: calc(100% - 180px);
				margin-left: 0;
			}
			button[type=submit] {
				padding: 0 15px 0 15px;
			}
			
			input[type=checkbox]:not(checked) + label {
				margin: 0px 0px 20px; 
			}
		}
		
	}
}

@media screen and (max-width: 1100px) {
    #main_form {
	
		.image {
			width: 35%;
		}
	
		.page_width {
			margin-left: 35%;
		}
	}
}

@media screen and (max-width: 1030px) {
	#main_form {
	
		.image {
			width: 22.5%;
			&::after {
				right: 10px;
				bottom: 0px;
			}
		}
	
		.page_width {
			margin-left: 22.5%;
		}
	}
}

// @media screen and (max-width: 900px) {
	
// }
@media screen and (max-width: 800px) {
	#main_form {
		form {
			margin-right: 0;
		}
	}
	.form_block {
		.textarea {
			margin-bottom: 32px;
		}
		.input_personal_info {
			float: none;
			padding-top: 0;
			margin-bottom: 20px;
		}
	}
}

@media screen and (max-width: 600px) {
    #main_form {
		.image {
			display: none;
		}
		.page_width {
			margin-left: 0;
			padding-top: 30px;
			padding-bottom: 10px;
		}
	}
	.form_block .textarea {
		margin-left: 15px;
		margin-right: 5px;
	}
	.form_block textarea {
		height: 100px;
	}
	.form_block .input_text {
		width: calc(100% - 20px);
		float: none;
	}
	// .form_block input[type=checkbox]:not(checked) + label {
	// 	margin-bottom: 20px;
	// }
	.form_block .input_file {
		margin-right: 20px;
		margin-left: 10px;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 470px) {
	.form_block .input_file {
		width: 195px;
		margin: 0 auto 20px;
		display: block;
	}
	.form_block .uformTools {
		display: block;
		margin-right: 0;
		text-align: center;
	}
}
@media screen and (max-width: 400px) {
	#small_form .form_block {
		.input_text {
			float: none;
			margin-right: 0px;
			width: 100%;
		}
	}
}

/* end forms styles */