 /* start header styles */

// header.scroll {
//     box-shadow: 10px 10px 20px rgba(36, 70, 122, 0.25);
// }

#header {
    width: 100%;
	position: relative; //fixed;
	//margin-bottom: 30px;
	top: 0;
	left: 0;
	z-index: 3;
	height: 80px;
	//background-color: #fff;
	//overflow: hidden;
	@include transition(all);

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 80px;
		background-color: #000;
	}
	&::after {
		content: '';
		position: absolute;
		top: 80px;
		left: 0;
		width: 100%;
		height: 61px;
		background-color: rgba(0, 0, 0, 0.75);
	}

    .page_width {
		z-index: 1;
		padding-top: 10px;
		font-size: 18px;
		line-height: 21px;
		color: #fff;
		overflow: visible;
	} 

	a {
		color: #fff;
	}

	.button {
		float: right;
		margin-left: 11.1%;
		margin-right: 3px;
		margin-top: 5px;

		&:hover {
			color: $color_text;
		}
	}

	.social {
		float: right;
		margin-top: 12px;
		margin-left: 85px;
	}

	.contacts {
		display: flex;
		justify-content: space-around;
		padding-top: 12px;

		a {
			color: #fff;
		}
	}
}

#logo {
	width: 200px;
	font-family: Georgia;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 25px;
	float: left;
	position: relative;
	z-index: 1;
	margin-right: 80px;
	margin-bottom: 20px;
	
	a {
	    @include transition(opacity);
        
        &:hover {
            opacity: 0.9;
        }
	}
	
	img {
		max-width: 100%;
		position: relative;
	}
}

.social {
	> * {
		margin: 0 5px;
	}
}

.contacts {
	position: relative;
	z-index: 1;
	font-weight: 600;

	a, p {
		display: inline-block;
		&::before {
			content: '';
			display: inline-block;
			width: 26px;
			height: 25px;
			vertical-align: middle;
			margin-bottom: 4px;
			margin-right: 10px;
			background: no-repeat center;
		}
	}

	p {
		padding-left: 35px;
		position: relative;

		&::before {
			position: absolute;
			left: 0;
		}
	}
		

	.tel {
		&::before {
			background-image: url(images/icon_tel.svg);
		}
	}
	.email {
		&::before {
			background-image: url(images/icon_email.svg);
		}
	}
	.address {
		&::before {
			background-image: url(images/icon_address.svg);
		}
	}
}

.main_menu {
	font-size: 18px;
	line-height: 21px;
	//margin: 25px 250px 13px 340px;
	clear: both;
	padding: 20px 0;
	font-weight: 300;

	a {
		color: #fff;
	}

	> ul {
		display: flex;
		justify-content: space-between;

		>li {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				width: 150%;
				height: 20px;
				top: 21px;
				left: -30px;
				display: none;
			}

			&:hover {
				&::before {
					display: block;
				}
				ul {
					opacity: 1;
					pointer-events: initial;
				}
			}
		}

		>li > ul {
			position: absolute;
			top: 41px;
			left: -30px;
			background-color: rgba(0, 0, 0, 0.75);
			padding: 20px 30px;
			opacity: 0;
			pointer-events: none;
			@include transition(all);

			> li {
				margin-bottom: 20px;
				white-space: nowrap;

				&:last-child {
					margin-bottom: 0;
				}

				> ul {
					padding-left: 10px;
					padding-top: 20px;

					li {
						margin-bottom: 10px;

						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}

.menu_button {
	border-top: 3px solid $color_a;
	border-bottom: 3px solid $color_a;
	//border-radius: 3px;
	float: right;
	width: 40px;
	height: 24px;
	margin: 10px 0 0 30px;
	position: relative;
	&::before {
		content: '';
		width: 100%;
		top: 50%;
		border-top: 3px solid $color_a;
		margin-top: -2px;
		position: absolute;
	}

	&::after {
		content: '';
		position: fixed;
		width: calc(100% - 320px);
		height: 100%;
		top: 0;
		left: 0;
		display: none;
		//background-color: rgba(43, 64, 4, 0.5);
	}

	&.active {
		&::after {
			display: block;
		}
	}
}


@media screen and (max-width: 1300px) {	
	#logo {
		margin-right: 20px;
	}
	#header {
		.button {
			margin-left: 30px;
		}
		.social {
			margin-left: 30px;
		}
	}
}

@media screen and (max-width: 1030px) {	
	#header {
		height: auto;
		&::before{ height: 100%; }
		&::after{ display: none; }
		.social {
			margin-left: 10px;
		}
	}
	#logo {
		margin-bottom: 10px;
	}
	#header .contacts {
		justify-content: flex-end;
		.email {
			width: 26px;
			height: 25px;
			overflow: hidden;
			margin-left: 15px;
		}
	}

	.menu_button {
		display: block;
		z-index: 2;
	}

	.main_menu {
		position: absolute;
		z-index: 0;
		width: 320px;
		height: 100vh;
		right: 0;
		top: -100vh;
		padding: 85px 30px 40px;
		margin: 0;
		background: rgba(0, 0, 0, 0.75);
		//backdrop-filter: blur(10px);
		box-sizing: border-box;
		@include transition(all);

		a {
			color: #fff;
		}

		ul {
			display: block;
			max-height: 100%;
			overflow-y: auto;
			li {
				margin-bottom: 20px;
			}
		}
	}	
}

@media screen and (max-width: 900px) {
	#header .contacts .tel {
		width: 26px;
		height: 25px;
		overflow: hidden;
	}
}

@media screen and (max-width: 800px) {	
	#logo {
		width: 160px;
		margin-right: 0;
	}
	#header {
		.button {
			margin-top: 0px;
		}
		.social {
			display: none;
		}
		.contacts {
			padding-top: 10px;
		}
	}
	.menu_button {
		margin: 6px 0 0 15px;
	}
}

@media screen and (max-width: 600px) {
	#header .button {
		display: none;
	}
	.menu_button {
		border-top: 2px solid $color_a;
		border-bottom: 2px solid $color_a;
		width: 30px;
		height: 18px;
		margin: 11px 0 0 20px;
		&::before {
			border-top: 2px solid $color_a;
			margin-top: -1px;
		}
	}
}

@media screen and (max-width: 450px) {
	#logo {
		width: 130px;
		//margin-top: 5px;
	}
	#header .contacts {
		padding-top: 5px;
	}
	.menu_button {
		margin: 7px 0 0 15px;
	}
}
// @media screen and (max-width: 400px) {
	
// }

/* end header styles */
