/* start working styles */ 

#working {
    .page_width {
        padding-top: 100px;
        padding-bottom: 1px;
    }
}

.working_slider {
    padding-top: 15px;

    .slick-list {
        margin: 0;
        padding-bottom: 86px;
    }
    .slick-arrow {
        top: 40px;
        left: auto;
        width: 40px;
        height: 40px;
        border-radius: 0;
        //border-color: #fff;

        &::before {
            top: 12px;
            //border-color: #fff;
        }
    }

    .slick-prev {
        right: 92px;
        &:before {
            left: 15px;
        }
    }
    .slick-next {
        right: 80px;
        &:before {
            right: 15px;
        }
    }
    .item {
        position: relative;
        //padding: 0 66px 55px 0;
        width: 190px;
        display: inline-block;
        vertical-align: top;
        //box-sizing: border-box;

        .text {
            float: right;
            width: 47%;
            box-sizing: border-box;
            //color: #fff;
            padding-left: 14px;
            //padding-top: 99px;

            // a {
            //     color: #fff;
            // }

            h3 {
                //margin-bottom: 10px;
                font-weight: 700;
                font-size: 150px;
                line-height: 110px;
                color: #E9E9E9;
            }

            .desc {
                //max-width: 490px;
                margin-bottom: 60px;
            }

            .links {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .button {
                color: $color_text;
            }
        }

        .image {
            max-width: 750/1530*100%;
            height: 513px;
            position: relative;
    
            &::before, &::after {
                content: '';
                position: absolute;
                z-index: 3;
                bottom: 8%;
                right: -4%;
                width: 179px;
                height: 83px;
                border-bottom: 2px solid;
                border-right: 2px solid;
                border-image-slice: 1;
                border-image-source: linear-gradient(161.57deg, #CCA04A 11.76%, #FFE2AE 100%);
            }
            &::before {
                top: 8%;
                left: 4%;
                transform: rotate(-180deg);
            }
    
            img {
                position: relative;
                z-index: 2;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

// @media screen and (max-width: 1600px) {
    
// }
@media screen and (max-width: 1400px) {
    .working_slider {
        margin: 0 -32px;
        .slick-next {
            right: 65px;
        }
    }
}

@media screen and (max-width: 1300px) {
    #working {
        .page_width {
            padding-top: 70px;
        }
    }
}

@media screen and (max-width: 1030px) {
    #working {
        .page_width {
            padding-top: 50px;
        }
    }
    .working_slider {
        margin: 0 0px;
        padding:  {
            left: 0;
            right: 0;
        }
        .slick-list {
            padding-bottom: 50px;
        }
        .slick-prev {
            right: 55px;
        }
        .slick-next {
            right: 0px;
        }
        .item .text {
            width: 50%;
            h3 {
                font-size: 100px;
                line-height: 110px;
            }
            .desc {
                margin-bottom: 30px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .working_slider .item .text h3 {
        font-size: 80px;
        line-height: 80px;
    }
}
@media screen and (max-width: 600px) {
    #working {
        .page_width {
            padding-top: 30px;
        }
    }
    .working_slider {
        padding-top: 0;

        .slick-arrow:before {
            width: 14px;
            height: 14px;
            top: 12px;
        }
        .item {
            .text {
                float: none;
                width: auto;
                padding-left: 0;
                margin-bottom: 30px;
                h3 {
                    font-size: 50px;
                    line-height: 60px;
                }
                .desc {
                    margin-bottom: 20px;
                }
            }

            .image {
                width: 100%;
                max-width: 500px;
                height: 300px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    
}

/* end working styles */