/* start popups styles */ 

.gUniFormModalWindow.form_block {
    background: rgba(0, 0, 0, 0.7);
    margin-left: 0;
    margin-right: 0;

    .gUniFormModalWindowContainer {
        width: 490px;
        padding: 40px 65px;
        //color: $color_text !important;
        box-sizing: border-box;
        border-radius: 0;
    }

    .uFormHeading {
        font-family: $font_family_os;
        font-size: 24px;
        line-height: 29px;
        font-weight: 700;
        margin-bottom: 10px;
        color: $color_text;
    }

    .uFormDescription {
        text-align: center;
        line-height: 24px;
        margin: 0 0px 20px;
        font-size: 16px;
        color: $color_text;
    }
    .input_text {
        width: calc(100% - 30px);
        clear: none;
        float: none;
        margin: 0 15px 20px;
    }
    .textarea {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    textarea {
        height: 100px;
    }
    .personalInfo {
        padding: 0 15px 40px;
    }
    input[type=checkbox] + label {
        color: $color_text;

        a {
            color: $color_text !important;
        }
    }
    .uformTools {
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }
    .button {
        float: none !important;
        margin-left: 3px !important;
        margin-bottom: 0 !important;
    }

    .gUniFormModalWindowExit {
        width: 26px;
        height: 26px;
        top: 26px;
        right: 25px;
        //border-radius: 0;
        background: none;
        transform: rotate(-45deg);
        @include transition(all);

        &::before, &::after {
            content: '';
            position: absolute;
            width: 100%;
            border-top: 3px solid $color_text;
            top: 50%;
            left: 50%;
            margin: -1px 0 0 -13px;
            
        }
        &::after {
            transform: rotate(90deg);
        }

        &:hover {
            transform: rotate(45deg);
            // &::before, &::after {
            //     background-color: #262945;
            // }
        }
    }
}

.gUniFormSuccess.form_success {
    background: rgba(0, 0, 0, 0.7);
    margin-left: 0;
    margin-right: 0;

    .gUniFormSuccessContainer {
        width: 490px;
        padding: 40px 65px 20px;
        //color: $color_text !important;
        box-sizing: border-box;
        border-radius: 0;
        border: 0;
        text-align: center;
        background-color: #fff;
        line-height: inherit;
        height: auto;
    }
    .gUniFormSuccessBg {
        border-radius: 0;
    }

    .gUniFormSuccessHeading {
        font-family: $font_family_os;
        font-size: 24px;
        line-height: 29px;
        font-weight: 700;
        margin-bottom: 10px;
        color: $color_text;
    }

    .gUniFormSuccessText {
        text-align: center;
        line-height: 24px;
        margin: 0 0px 20px;
        font-size: 16px;
        color: $color_text;
    }

    .gUniFormSuccessExit {
        width: 26px;
        height: 26px;
        top: 20px;
        right: 20px;
        //border-radius: 0;
        background: none;
        transform: rotate(-45deg);
        @include transition(all);

        &::before, &::after {
            content: '';
            position: absolute;
            width: 100%;
            border-top: 3px solid $color_text;
            top: 50%;
            left: 50%;
            margin: -1px 0 0 -13px;
            
        }
        &::after {
            transform: rotate(90deg);
        }

        &:hover {
            transform: rotate(45deg);
            // &::before, &::after {
            //     background-color: #262945;
            // }
        }
    }
}

// @media screen and (max-width: 1600px) {
    
// }
// @media screen and (max-width: 1400px) {
    
// }

// @media screen and (max-width: 1200px) {
    
// }

// @media screen and (max-width: 1100px) {
    
// }

// @media screen and (max-width: 800px) {
    
// }
@media screen and (max-width: 600px) {
    .gUniFormModalWindow.form_block .gUniFormModalWindowContainer, .gUniFormSuccess.form_success .gUniFormSuccessContainer {
        width: 300px;
        padding: 40px 25px;
    }
    .gUniFormModalWindow.form_block .gUniFormModalWindowExit, .gUniFormSuccess.form_success .gUniFormSuccessExit {
        top: 15px;
        right: 15px;
    }
}

@media screen and (max-width: 450px) {
    
}
/* end popups styles */